<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Car Controller</title>
    <script src="lib/nipple.js"></script>
    <script src="lib/socket.io.js"></script>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div class="container">
        <!-- <div class="logo">
            <img src="/logo.png">
        </div> -->
        <div class="video">
            <img src="http://192.168.10.100:8081"></img>
        </div>

        <div class="joy_container">
            <div class="joy" id="joy"></div>
        </div>

    </div>

    <script src="script.js"></script>
</body>

</html>